
    .modal {
      display: none;
      position: fixed;
      z-index: 1;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      overflow: auto;
      background-color: rgba(0, 0, 0, 0.5);
    }

    .unclickable-form {
      max-width: 400px;
      margin: 0 auto;
      font-family: Arial, sans-serif;
      font-size: 14px;
    }

    .form-group {
      margin-bottom: 20px;
    }

    label {
      display: block;
      margin-bottom: 5px;
      font-weight: bold;
    }

    input[type="text"],
    input[type="number"] {
      padding: 8px;
      margin-bottom: 10px;
      border-radius: 3px;
      border: 1px solid #ccc;
      width: 85%;
    }

    input[readonly] {
      background-color: #f5f5f5;
      cursor: not-allowed;
    }

    input[type="number"]:required:invalid {
      border-color: red;
    }

    input[type="number"]:required:valid {
      border-color: #ccc;
    }

    .modal-content {
      background-color: #fefefe;
      margin: 5% auto;
      padding: 20px;
      border: 1px solid #888;
      width: 60%; /* Adjusted width */
      max-width: 500px; /* Added max-width */
      text-align: center;
    }

    .close {
      color: #aaa;
      float: right;
      font-size: 28px;
      font-weight: bold;
    }

    .close:hover,
    .close:focus {
      color: black;
      text-decoration: none;
      cursor: pointer;
    }

    .openModalBtn {
      padding: 10px 20px;
      background-color: #1a0cdd;
      color: white;
      border: none;
      border-radius: 4px;
      font-size: 16px;
      cursor: pointer;
      margin: 5px;
    }

    .openModalBtn:hover {
      background-color: #1a0cdd;
    }

    .openNestedModalBtn {
      padding: 10px 20px;
      background-color: #1a0cdd;
      color: white;
      border: none;
      border-radius: 4px;
      font-size: 16px;
      cursor: pointer;
      margin: 5px;
    }

    .openNestedModalBtn:hover {
      background-color: #1a0cdd;
    }

    .ok-button {
      padding: 10px 20px;
      background-color: #1a0cdd;
      color: white;
      border: none;
      border-radius: 4px;
      font-size: 16px;
      cursor: pointer;
    }

    .ok-button:hover {
      background-color: #1a0cdd;
    }
